Repository spaceship-prompt/spaceship-prompt, pull requests merged in 2023-05, with the labels that each got.

#1347 docs(i18n): New Crowdin updates
  docs/index.de.md
Labels: docs, translations

#1319 Call iterm2_prompt_end so that ⌘-k does not clear the first line in the prompt
  lib/prompts.zsh
Labels: bug, improvement

#1353 Bug/doc section headings
  docs/sections/ocaml.md
  docs/sections/ocaml.uk.md
  mkdocs.yml
Labels: docs

#1354 docs(i18n): New Crowdin updates
  docs/config/prompt.uk.md
  docs/getting-started.uk.md
Labels: docs, translations
